*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
    line-height: 1.6;
    font-family: "Roboto", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    color: hsl(87, 41%, 50%);

}
h1, h2, h3, h4{
    padding: 25px;   
    font-size: 2.5em;
    font-family: "Merriweather", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    color: hsl(87, 41%, 50%);

}
a:link {
    color: hsl(0, 40%, 30%);
}
a:visited {
    color: hsl(0, 40%, 30%);
}
a:hover {
    color: hsl(40, 50%, 50%);
}
p{
    padding: 25px;

}
.container{
    max-width: 1500px;
    
}
.subnav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: hsl(220, 25%, 50%);
    text-align: right;
    float: right;
}
.subnav a{
    padding: 0.5em;
  
}
.mainnav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    float: inherit;
    background-color: hsl(220, 25%, 50%);
    width: 100%;
}
.mainnav a{
    padding: 0.5em;
    font-size: 2em;

}
.masthead{
    
}
.times-logo{
    width: 100%;
    height: 100%;
}
.masthead h1{
    padding: 0.0em;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2em;
    color: hsl(220, 25%, 50%);


    
}
.content{
    
}
.content .story{
    
}
.story.lead-story{
    font-weight: bolder;
}
h1.story-title{
    
}
.story img{
    float: right;
}
.story p{
    
}
.story blockquote{
        padding: 25px;
    quotes: "\201E" "\201D";
}
.story blockquote::before{
    content: open-quote;
}
.story blockquote::after{
    content: close-quote;
}
.story p.byline{
    font-size: 1.5em;

}
p.byline span.author{
    
}
p.byline span.pub{
    
}
.foot{
    
}
.foot p{
    text-align: center;
    
}

@media only screen and (max-width: 700px) {
    *{
        text-align: center;
    }
    body {
        background-color: hsl(192, 100%, 80%);
    }
}@media only screen and (max-width: 600px) {
    .story img{
    width:100%;
}
}
